/*
  title: base css
*/


/* =global elements
--------------------------------------------- */
body {
  color: #999;
  font: 14px/1.5em "Lucida Grande", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  width: 742px;

  margin: 20px; /* NOTE: Temporary */
}

a:link, a:visited {
  color: #3b5998;
  font-weight: bold;
  text-decoration: none;
}

a:hover, a:active {
  text-decoration: underline;
}

h1 {
  color: #656565;
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: 18px;
  font-weight: normal;
}

/* ------------------------------------------ */

/* =header
--------------------------------------------- */
body {
  border-left: 1px solid #b3b3b3;
  border-right: 1px solid #b3b3b3;
  border-top: 1px solid #b3b3b3;
  font-size: 11px;
  padding: 24px 18px;
  margin: 0 auto;
  width: 900px;
  min-height: 500px;
}

header h1 {
  border-bottom: 2px solid #e9e9e9;
  margin: 0 0 9px;
  padding: 2px 0 8px;
}

header #picture + div {
  margin-left: 82px;
}

header #picture {
  background-position: center 25%;
  background-repeat: no-repeat;
  float: left;
  margin-right: 18px;
  width: 64px;
  height: 64px;
  overflow: hidden;
}

header .tagline {
  float: left;
}

input[type="search"] {
  -webkit-appearance: textfield;
  font-size: 20px;
  width: 300px;
  border: 1px solid #999;
}

ul#friends_list {
  padding: 10px;
}

ul#friends_list li {
  font-size: 16px;
  margin: 5px;
}

/* ------------------------------------------ */

/* =clearfix
--------------------------------------------- */
.clearfix:after {
  clear: both;
  content: ".";
  display: block;
  font-size: 0;
  height: 0;
  line-height: 0;
  visibility: hidden;
}

.clearfix {
  zoom: 1;
}

/* Sticky footer styles
-------------------------------------------------- */

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -60px;
}

/* Set the fixed height of the footer here */
#push,
#footer {
  height: 60px;
}
#footer {
  background-color: #f5f5f5;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
  #footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container {
  width: auto;
  max-width: 680px;
}
.container .credit {
  margin: 20px 0;
}

